.a {
  width: 54px;
  height: 4px;
  background-color: #00ad6e;
}
header {
  width: 100%;
  height: 70px;
  background-color: #0b0b0b;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(61, 61, 61, 0.25) 0px 4px 4px;

  font-family: "Turret Road" sans-serif;
  position: fixed;
  top: 0;
  z-index: 2;
}

.navbar {
  display: flex;

  list-style-type: none;
  justify-content: space-between;
  width: 600px;
}
.espelhado-transparente-nav {
  position: relative;
  background: rgba(204, 204, 204, 0.05); /* Fundo quase invisível */
  font-weight: bold;
  border: none; /* Sem bordas padrão */
  border-radius: 4px; /* Suavidade extra */
  box-shadow: 0 3px 6px rgba(204, 204, 204, 0.4); /* Sombra padrão */
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
  margin-bottom: 10px;
  height: 50px;
  display: flex;

  justify-content: center;
  align-items: center;
}

.espelhado-transparente-nav::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%; /* Reduzindo espaço lateral para alinhar */
  right: 15%; /* Reduzindo espaço lateral para alinhar */
  height: 2px;
  background-color: #ccc; /* Cor cinza por padrão */
  border-radius: 0 0 4px 4px; /* Bordas suaves */
  transition: background-color 0.3s, transform 0.2s;
}

.espelhado-transparente-nav:hover {
  transform: scale(1.02); /* Leve ampliação ao passar o mouse */
  box-shadow: 0 5px 10px rgba(204, 204, 204, 0.6); /* Sombra mais intensa no hover */
}

.espelhado-transparente-nav:hover::before {
  background-color: #079157c5; /* Verde apenas no hover */
  transform: scaleX(1); /* Crescimento proporcional ao botão */
}
